
<h1>Listing movies</h1>

<%= link_to 'New movie', new_movie_path, :class => "btn btn-primary" %>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th></th>
  </tr>
 
  <% @movies.each do |movie| %>
    <tr>
      <td><%= movie.title %></td>
      <td><%= movie.text %></td>
      <td><%= link_to 'Show', movie_path(movie), :class => "btn btn-info" %></td>
      <td><%= link_to 'Edit', edit_movie_path(movie), :class => "btn btn-warning" %></td>
	    <td><%= link_to 'Destroy', movie_path(movie), :class => "btn btn-danger",
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>