
<h1>Listing movies</h1>

<%= link_to 'New movie', new_movie_path, :class => "btn btn-primary my-2 ml-auto" %>
<br>

  <% @movies.each do |movie| %>
    <div class="card mr-3 mb-3 ml-3" style="width: 18rem;">
    <%if movie.image %>
      <%= image_tag(movie.image, :class => "card-img-top")%>
    <% else %>
    <%= image_tag("nia.png", :class => "card-img-top")%>
    <% end %>
      <div class="card-body">
        <h5 class="card-title"><%= movie.title %></h5>
        <p>
        <% if movie.reviews.average(:rating) == nil%>
          <% Integer(5).to_i.times do  %>
          <i class="far fa-star"></i>
          <% end %>
        <% else %>
        <% movie.reviews.average(:rating).to_i.times do  %>
          <i class="fas fa-star"></i>
          <% end %>
          <% (Integer(5) - movie.reviews.average(:rating).floor).to_i.times do  %>
          <i class="far fa-star"></i>
          <% end %>
          <% end %>
        </p>
        <p class="card-text"><%= movie.text %> </p>

        <%= link_to 'Show', movie_path(movie), :class => "btn btn-primary stretched-link" %>
      </div>
      <div class="card-footer">
      <small class="text-muted">Last updated <%= distance_of_time_in_words(Time.now, movie.updated_at)%> ago</small>
    </div>
    </div>
  <% end %>