
<p>
  <strong>Title:</strong>
  <%= @movie.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @movie.text %>
</p>

<h2>Reviews</h2>
<%= render @movie.reviews %>

<h2>Add a review:</h2>
<%= render 'reviews/form' %>

<%= link_to 'Edit', edit_movie_path(@movie) %>
<%= link_to 'Back', movies_path %>
<td><%= link_to 'Destroy', movie_path(@movie),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
