
<h1><%= @movie.title %> </h1>


<div class="card mb-3">
  <%if @movie.image %>
    <div class="container" style="width: 100%;">
      <%= image_tag(@movie.image, :class => "card-img-top" ) %>
      </div>
    <% else %>
    <%end%>
</div>

<p>
  <%= @movie.text %>
</p>

<h2>Reviews</h2>
<%= render @movie.reviews %>

<h2>Add a review:</h2>
<%= render 'reviews/form' %>


<%= link_to 'Back', movies_path, :class => "btn btn-info"%>
<div class="text-right">
  <%= link_to 'Edit', edit_movie_path(@movie), :class =>"btn btn-warning" %>
  <%= link_to 'Destroy', movie_path(@movie), :class => "btn btn-danger",
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
</div>
