<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.label :name %> 
    <%= form.text_field :name, :type => "text", :class => "form-control" %> 

    <%= form.label :email %> 
    <%= form.email_field :email, :type => "email", :class => "form-control" %> 

    <%= form.label :password %>
    <%= form.password_field :password, :type => "password", :class => "form-control" %>

    <%= form.label :password_confirmation, "Confirmation" %>
    <%= form.password_field :password_confirmation, :type => "password", :class => "form-control" %>

    <div class="text-right">
    <%= form.submit :class => "btn btn-success mt-2" %>
    </div>
  </div>
<% end %>