<p id="notice"><%= notice %></p>

<h1><%= @user.name %></h1>
<div class="text-right">
	<%= link_to 'Edit', edit_user_path(@user), :class => "btn btn-warning" %>
</div>

<strong>Email: </strong> <%= @user.email%>
<hr>


<%= link_to 'Back', movies_path, :class => "btn btn-info" %>
