<%= form_with(model: [ @movie, @movie.reviews.build ], local: true) do |form| %>

  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
  <%= form.label :rating %><br>
    <%= form.radio_button(:rating, "1", :class => "stars") %>
    <%= form.radio_button(:rating, "2", :class => "stars") %>
    <%= form.radio_button(:rating, "3", :class => "stars") %>
    <%= form.radio_button(:rating, "4", :class => "stars") %>
    <%= form.radio_button(:rating, "5", :class => "stars") %>

  </p>
  <p>
    <%= form.submit :class => 'btn btn-success' %>
  </p>
<% end %>