<!DOCTYPE html>
<html>
  <head>
    <title>MovieRatingSystem</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


  </head>

  <body>
          <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="/">Rails Reviews</a>
          
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>

            <%= form_tag(search_page_path, :method => "get", class: "form-inline my-2 my-lg-0") do %>  
            <div class="input-group">  
              <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control mr-sm-2" %>  
              <div class="input-group-btn">  
                <%= button_tag "", :class => "btn btn-secondary btn-lg fas fa-search",:name => nil%>
              </div>  
            </div>  
          <% end %>

              <% if current_user %>
                <div class="btn btn-light ml-2">
                  <i class="far fa-user"></i>
                  <%= link_to current_user.name, user_path(current_user) %>
                </div>
                <%= link_to 'Log out', logout_path, method: :delete, :class => " btn btn-danger ml-2"%>
              <% else %>
                <%= link_to 'Login', login_path, :class => "btn btn-info ml-2"%>
              <% end %>
          </div>
        </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
