<!DOCTYPE html>
<html>
  <head>
    <title>MovieRatingSystem</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
          <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="/">Rails Reviews</a>
          
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

            </ul>

            <%= form_tag(search_page_path, :method => "get",   
                                            class: "form-inline my-2 my-lg-0") do %>  
            <div class="input-group">  
              <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control mr-sm-2" %>  
              <div class="input-group-btn">  
                <%= button_tag "Search", :class => "btn btn-outline-success my-2 my-sm-0",:name => nil%>  
              </div>  
            </div>  
          <% end %>

              <% if current_user %>
                <%= link_to current_user.name, user_path(current_user), :class => "ml-4 mr-4" %>
                <%= link_to 'Log out', logout_path, method: :delete, :class => "btn btn-outline-danger ml-2"%>
              <% else %>
                <%= link_to 'Login', login_path, :class => "btn btn-outline-info ml-2"%>
              <% end %>
          </div>
        </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
